<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="A02.css">
</head>

<body background = "pattern1.jpg" border-radius = 50px>   
<div class="container" >
     <nav class="navbar navbar-expand-lg navbar-light bg-light navbarwidth">
           <a class="navbar-brand" href="#">Sri Ram Teja Komerisetti</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
         
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                 <a class="nav-link" href="A02.html">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="Calculator.html">Calculation</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="About.html">Contact</a>                   
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="/index">GuestBook</a>                   
               </li>                
               
             </ul>
           </div>
         </nav>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write a note
</a>
</h1>
